.index {
    width: 100%;
    min-height: 100%;
    background-color: #0267bd;
}
.index .first {
    width: 100%;
    overflow: hidden;
    background: url('../images/background.png') no-repeat;
    background-size: 100% auto;
    background-position: 9px 26px;
}
.index .first .logo {
    width: 117.333333px;
    height: 27px;
    background: url('../images/logo.png') no-repeat;
    background-size: 117.333333px 27px;
    float: left;
    margin: 18px 0 0 0;
}
.index .first .index-center {
    width: 250px;
    margin: 54px auto 0;
}
.first .index-center .center-logo {
    width: 231.333333px;
    height: 126.666667px;
    background: url('../images/title.png') no-repeat;
    background-size: 231.333333px 126.6666667px;
}
.first .index-center .center-book {
    width: 250px;
    height: 179px;
    background: url('../images/book.png') no-repeat;
    background-size: 250px 179px;
    overflow: hidden;
}
.first .index-center .center-book .center-book-text {
    margin: 7px 0 0 0;
    color: #272727;
    text-align: center;
}
.first .index-center .center-book .center-book-text.first {
    margin: 40px 0 0 0;
}
.index .first .center-join {
    width: 127.333333px;
    height: 35px;
    background: url('../images/join.png') no-repeat;
    background-size: 127.333333px 35px;
    margin: 16px auto 0;
}
.index .first .right-logo {
    width: 103.333333px;
    height: 88.333333px;
    background: url('../images/top-right.png') no-repeat;
    background-size: 103.333333px 88.333333px;
    float: right;
    margin: 13px 10px 0 0;
}
.index .join {
    width: 100%;
    padding: 20px 43px 26px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.index .join .join-text {
    color: #fff;
    padding: 0 0 0 15px;
    line-height: 20px;
}
.index .join .join-context {
    width: 100%;
    height: 228.333333px;
    margin: 23px 0 0 0;
    border-radius: 6px;
    background-color: #fff;
    overflow: hidden;
}
.index .join .join-context .context-submit {
    padding: 40px 26px 0;
}
.join-context .context-submit .submit-school {
}
.join-context .context-submit .submit-school .text,
.join-context .context-submit .recent-book .text,
.join-context .context-submit .wechat .text {
    color: #004e66;
    font-size: 20px;
}
.join-context .context-submit .submit-school select {
    vertical-align: 3px;
    margin: 0 0 0 2px;
}
.join-context .context-submit .auto-input {
    width: 100%;
    display: inline-block;
    margin: 0 0 0 -185px;
    padding: 0 0 0 174px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.join-context .context-submit .auto {
    width: 100%;
    vertical-align: 3px;
}
.join-context .context-submit .wechat .text-min {
    color: #6f7a7d;
    font-size: 16px;
}
.join-context .context-submit .wechat .auto-input {
    margin: 0 0 0 -179px;
    padding: 0 0 0 166px;
}
.join-context .context-submit .recent-book {
    margin: 24px 0 0 0;
}
.join-context .context-submit .wechat {
    margin: 24px 0 0 0;
}
.join-context .context-submit .submit-button {
    width: 114.333333px;
    height: 46.333333px;
    margin: 21px auto 0;
    background: url('../images/submit-info-button.png') no-repeat;
    background-size: 114.333333px 46.333333px;
    text-align: center;
    line-height: 42px;
    font-size: 20px;
    font-weight: bold;
    color: #202020;
}
.index .join .join-context .context-start {
    padding: 40px 26px 0;
    display: none;
}
.index .join .join-context .context-start .start-icon {
    width: 117.6666667px;
    height: 117.6666667px;
    background: url('../images/circle.png') no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    padding: 22px 0 0 0;
    text-align: center;
    color: #fff;
    font-size: 34px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.index .join .join-context .context-start .start-time {
    color: #d7151a;
    font-size: 32px;
    margin: 14px auto 0;
    text-align: center;
}
.index .join .join-context .context-over {
    height: 168px;
    margin: 30px 54px;
    background-color: #ff9b37;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 1px 3px 10px 2px #ccc;
    -webkit-box-shadow: 1px 3px 10px 2px #ccc;
    overflow: hidden;
    display: none;
}
.index .join .join-context .context-over .over-title {
    margin: 21px 14px 0;
    color: #fff;
    font-size: 17.333333px;
    text-align: center;
}
.index .join .join-context .context-over .over-gift {
    text-align: center;
    margin: -5px 0 0 0;
}
.index .join .join-context .context-over .over-gift .gift-img {
    width: 178px;
    height: 108.333333px;
}

.person-time {
    width: 100%;
    background-color: #1fbbbc;
    overflow: hidden;
    padding: 0 0 27px 0;
}
.person-time .time-logo {
    width: 327px;
    height: 149.333333px;
    background: url('../images/time.png') no-repeat;
    background-size: 327px 149.333333px;
    margin: 16px auto 0;
    position: relative;
}
.person-time .time-logo .time-hour-1,
.person-time .time-logo .time-hour-2,
.person-time .time-logo .time-min-1,
.person-time .time-logo .time-min-2,
.person-time .time-logo .time-sec-1,
.person-time .time-logo .time-sec-2 {
    font-size: 38px;
    color: #a9a9a9;
    position: absolute;
    top: 66px;
}
.person-time .time-logo .time-hour-1 {
    left: 34px;
}
.person-time .time-logo .time-hour-2 {
    left: 75px;
}
.person-time .time-logo .time-min-1 {
    left: 128px;
}
.person-time .time-logo .time-min-2 {
    left: 169px;
}
.person-time .time-logo .time-sec-1 {
    left: 223px;
}
.person-time .time-logo .time-sec-2 {
    left: 264px;
}
.person-time .time-rule {
    width: 327px;
    margin: 16px auto 0;
}
.person-time .time-rule .rule-title {
    font-size: 20px;
    text-align: center;
    margin: 0 0 8px 0;
}
.person-time .time-rule .rule-title,
.person-time .time-rule .rule-con {
    color: #fff;
}
.person-time .time-rule .rule-con .rule-text {
    line-height: 20px;
}
.person-time .time-rule .rule-con .rule-text.offset {
    margin: 27px 0 0 0;
}
.person-time .time-rule .invite {
    width: 198px;
    height: 54.333333px;
    line-height: 54px;
    background: url('../images/submit-button.png') no-repeat;
    background-size: 198px 54.333333px;
    margin: 27px auto 0;
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.school-rank {
    width: 100%;
    background-color: #a6add4;
    padding: 0 0 29px 0;
    overflow: hidden;
}
.school-rank .rank-header {
    width: 100%;
    height: 123px;
    line-height: 123px;
    background: url('../images/second-header.png') no-repeat;
    background-size: 100% 123px;
    text-align: center;
}
.school-rank .rank-header .rank-header-text {
    width: 265.6666667px;
    height: 71.333333px;
    display: inline-block;
    background: url('../images/rank.png') no-repeat;
    background-size: 265.6666667px 71.333333px;
    vertical-align: middle;
}
.school-rank .rank-report {
    width: 100%;
    margin: 19px 0 0 0;
}
.school-rank .rank-report .report-title,
.school-rank .rank-report .report-rank {
    color: #004e66;
    font-size: 20px;
    text-align: center;
}
.school-rank .rank-report .report-title {
}
.school-rank .rank-report .report-rank {
    margin: 15px 0 0 0;
}
.school-rank .rank-graph {
    margin: 14px 0 0 0;
    padding: 0 0 0 13px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.school-rank .rank-graph .rank-school-names {
    width: 90px;
    display: inline-block;
}
.school-rank .rank-graph .rank-school-names .rank-school-name {
    margin: 18.6666667px 0 0 0;
}
.school-rank .rank-graph .rank-school-names .rank-school-name .ranks {
    width: 16px;
    height: 14.666667px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.school-rank .rank-graph .rank-school-names .rank-school-name .rank-fir {
    background: url('../images/first.png') no-repeat;
    background-size: 16px 14.6666667px;
}
.school-rank .rank-graph .rank-school-names .rank-school-name .rank-sec {
    background: url('../images/second.png') no-repeat;
    background-size: 16px 14.6666667px;
}
.school-rank .rank-graph .rank-school-names .rank-school-name .rank-thr {
    background: url('../images/third.png') no-repeat;
    background-size: 16px 14.6666667px;
}
.school-rank .rank-graph .rank-school-names .rank-school-name .rank-school {
    color: #fff;
    font-size: 14px;
    margin: 0 0 0 4px;
    vertical-align: middle;
}
.school-rank .rank-graph .rank-school-mins {
    height: 100%;
    display: inline-block;
    border-left: 2px solid #fff;
    vertical-align: top;
}
.school-rank .rank-graph .rank-school-mins .rank-school-min {
    margin: 9px 0 0 0;
}
.school-rank .rank-graph .rank-school-mins .rank-school-min:nth-child(1) {
    margin: 12px 0 0 0;
}
.school-rank .rank-graph .rank-school-mins .rank-school-min:nth-child(10) {
    margin: 9px 0 12px 0;
}
.school-rank .rank-graph .rank-school-mins .rank-school-min .rank-school-progress {
    height: 19px;
    border: 2px solid #fff;
    border-width: 2px 2px 2px 0;
    display: inline-block;
}
.school-rank .rank-graph .rank-school-mins .rank-school-min .rank-school-progress-1 {
    width: 200px;
    background-color: #d7151a;
}
.school-rank .rank-graph .rank-school-mins .rank-school-min .rank-school-minutes {
    color: #fff;
    display: inline-block;
    vertical-align: 8px;
}

.school-travel {
    width: 100%:
    background-color: #3777af;
    overflow: hidden;
}
.school-travel .travel-header {
    width: 100%;
    height: 123px;
    line-height: 123px;
    background: url('../images/third-header.png') no-repeat;
    background-size: 100% 123px;
    text-align: center;
}
.school-travel .travel-header .travel-header-text {
    width: 265.6666667px;
    height: 71.333333px;
    display: inline-block;
    background: url('../images/school.png') no-repeat;
    background-size: 265.6666667px 71.333333px;
    vertical-align: middle;
}
.school-travel .high-up {
    width: 100%;
    padding: 21px 13px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.school-travel .high-up .high-up-title {
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.school-travel .high-up .high-up-context {
    margin: 21px 0 0 0;
}
.school-travel .high-up .high-up-context .high-up-img {
    display: inline-block;
}
.school-travel .high-up .high-up-context .high-up-img .high-up-pic {
    width: 144px;
    height: 174px;
}
.school-travel .high-up .high-up-context .high-up-ind {
    width: 220px;
    display: inline-block;
    margin: 0 0 0 17px;
    vertical-align: top;
}
.school-travel .high-up .high-up-context .high-up-ind .high-up-p {
    color: #fff;
    font-size: 12px;
}
.school-travel .high-up .high-up-context .high-up-ind .high-up-host {
    margin: 7px 0 0 0;
}
.school-travel .high-up .high-up-context .high-up-ind .high-up-place {
    margin: 27px 0 0 0;
}
.school-travel .high-up .high-up-context .high-up-ind .high-up-topic {
    margin: 27px 0 0 0;
    line-height: 18px;
}
.school-travel .high-up .high-up-context .high-up-ind .high-up-time {
    margin: 27px 0 0 0;
}
.school-travel .high-up .high-up-join {
    width: 280px;
    margin: 22px auto 0;
    color: #fff;
    line-height: 18px;
}
.school-travel .high-up .high-up-join .join-way {
    line-height: 18px;
}
.school-travel .book-recommand {
    width: 100%;
    padding: 43px 19px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.school-travel .book-recommand .book-recommand-header {
    width: 215px;
    height: 69.6666667px;
    background: url('../images/recommand.png') no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}
.school-travel .book-recommand .book-recommand-books {
    display: inline-block;
    margin: 32px 0 0 0;
}
.school-travel .book-recommand-books .books-pic {
    display: inline-block;
}
.school-travel .book-recommand-books .books-pic .books-images {
    width: 78px;
    height: 129.333333px;
}
.school-travel .book-recommand-books .books-text {
    width: 240px;
    margin: 12px 0 0 32px;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.school-travel .book-recommand-books .books-text .books-title {
    font-size: 20px;
}
.school-travel .book-recommand-books .books-text .books-title .title-name {
    margin: 0 10px 0 0;
}
.school-travel .book-recommand-books .books-text .books-title .author {
    display: inline-block;
}
.school-travel .book-recommand-books .books-text .books-tip {
    margin: 3px 0 0 0;
    font-size: 12px;
}
.school-travel .book-recommand-books .books-text .books-rank {
    margin: 18px 0 0 0;
    font-size: 12px;
    line-height: 16px;
}
.school-travel .book-recommand-books .books-text .books-rank-exc {
    font-size: 12px;
    line-height: 16px;
}

.school-travel .foot {
    width: 100%;
    margin: 65px 0 0 0;
}
.school-travel .foot .foot-copyright {
    font-size: 12px;
    color: #fff;
    text-align: center;
}
.school-travel .foot .foot-back {
    width: 100%;
    height: 150.6666667px;
    margin: 14px 0 0 0;
    background: url('../images/footer.png') no-repeat;
    background-size: 100% 100%;
}
