.index {
    width: 100%;
    min-height: 100%;
    background-color: #0267bd;
}
.index .first {
    width: 100%;
    overflow: hidden;
    background: url('../images/background.png') no-repeat;
    background-size: 100% auto;
    background-position: 0.579710145rem 1.674718196rem;
}
.index .first .logo {
    width: 7.557702609rem;
    height: 1.739130435rem;
    background: url('../images/logo.png') no-repeat;
    background-size: 7.557702609rem 1.739130435rem;
    float: left;
    margin: 1.159420290rem 0 0 0;
}
.index .first .index-center {
    width: 16.103059581rem;
    margin: 3.478260870rem auto 0;
}
.first .index-center .center-logo {
    width: 14.900697778rem;
    height: 8.158883543rem;
    background: url('../images/title.png') no-repeat;
    background-size: 14.900697778rem 8.158883523rem;
}
.first .index-center .center-book {
    width: 16.103059581rem;
    height: 11.529790660rem;
    background: url('../images/book.png') no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    width: 187.5pt;
    height: 134.25pt;
}
.first .index-center .center-book .center-book-text {
    margin: 0.450885668rem 0 0 0;
    color: #272727;
    text-align: center;
    font-size: 1.000000000rem;
    font-size: 0.772946860rem;
}
.first .index-center .center-book .center-book-text.first {
    margin: 2.576489533rem 0 0 0;
}
.index .first .center-join {
    width: 8.201824992rem;
    height: 2.254428341rem;
    background: url('../images/join.png') no-repeat;
    background-size: 8.201824992rem 2.254428341rem;
    margin: 1.030595813rem auto 0;
}
.index .first .right-logo {
    width: 6.655931272rem;
    height: 5.689747697rem;
    background: url('../images/top-right.png') no-repeat;
    background-size: 6.655931272rem 5.689747697rem;
    float: right;
    margin: 0.837359098rem 0.644122383rem 0 0;
}
.index .join {
    width: 100%;
    padding: 1.288244767rem 2.769726248rem 1.674718196rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.index .join .join-text {
    color: #fff;
    padding: 0 0 0 0.966183575rem;
    line-height: 1.288244767rem;
    font-size: 0.772946860rem;
}
.index .join .join-context {
    width: 100%;
    height: 14.707461063rem;
    margin: 1.481481481rem 0 0 0;
    border-radius: 0.386473430rem;
    background-color: #fff;
    overflow: hidden;
}
.index .join .join-context .context-submit {
    padding: 2.576489533rem 1.674718196rem 0;
}
.join-context .context-submit .submit-school {
}
.join-context .context-submit .submit-school .text,
.join-context .context-submit .recent-book .text,
.join-context .context-submit .wechat .text {
    color: #004e66;
    font-size: 1.256038647rem;
}
.join-context .context-submit .submit-school select {
    width: 2.962962963rem;
    vertical-align: 0.193236715rem;
    margin: 0 0 0 0.128824477rem;
}
.join-context .context-submit .auto-input {
    width: 100%;
    display: inline-block;
    margin: 0 0 0 -11.916264090rem;
    padding: 1px 0 1px 11.207729469rem;
    float: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.join-context .context-submit .auto {
    width: 100%;
    vertical-align: 0.193236715rem;
}
.join-context .context-submit .wechat .text-min {
    color: #6f7a7d;
    font-size: 1.030595813rem;
}
.join-context .context-submit .wechat .auto-input {
    margin: 0 0 0 -11.529790660rem;
    padding: 0 0 0 10.692431562rem;
}
.join-context .context-submit .recent-book {
    margin: 1.545893720rem 0 0 0;
}
.join-context .context-submit .wechat {
    margin: 1.545893720rem 0 0 0;
}
.join-context .context-submit .submit-button {
    width: 7.364465894rem;
    height: 2.984433688rem;
    margin: 1.352657005rem auto 0;
    background: url('../images/submit-info-button.png') no-repeat;
    background-size: 7.364465894rem 2.984433688rem;
    text-align: center;
    line-height: 2.705314010rem;
    font-size: 1.288244767rem;
    font-weight: bold;
    color: #202020;
}
.index .join .join-context .context-start {
    padding: 2.576489533rem 1.674718196rem 0;
    display: none;
}
.index .join .join-context .context-start .start-icon {
    width: 7.579173378rem;
    height: 7.579173378rem;
    background: url('../images/circle.png') no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    padding: 1.417069243rem 0 0 0;
    text-align: center;
    color: #fff;
    font-size: 2.190016103rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.index .join .join-context .context-start .start-time {
    color: #d7151a;
    font-size: 2.061191626rem;
    margin: 0.901771337rem auto 0;
    text-align: center;
}
.index .join .join-context .context-over {
    height: 10.821256039rem;
    margin: 1.932367150rem 3.478260870rem;
    background-color: #ff9b37;
    border-radius: 0.322061192rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 1px 0.193236715rem 0.644122383rem 0.128824477rem #ccc;
    -webkit-box-shadow: 1px 0.193236715rem 0.644122383rem 0.128824477rem #ccc;
    overflow: hidden;
    display: none;
}
.index .join .join-context .context-over .over-title {
    margin: 1.352657005rem 0.901771337rem 0;
    color: #fff;
    font-size: 1.116478776rem;
    text-align: center;
}
.index .join .join-context .context-over .over-gift {
    text-align: center;
    margin: -0.322061192rem 0 0 0;
}
.index .join .join-context .context-over .over-gift .gift-img {
    width: 11.465378422rem;
    height: 6.977992464rem;
}

.person-time {
    width: 100%;
    background-color: #1fbbbc;
    overflow: hidden;
    padding: 0 0 1.739130435rem 0;
}
.person-time .time-logo {
    width: 21.062801932rem;
    height: 9.618894235rem;
    background: url('../images/time.png') no-repeat;
    background-size: 21.062801932rem 9.618894235rem;
    margin: 1.030595813rem auto 0;
    position: relative;
}
.person-time .time-logo .time-hour-1,
.person-time .time-logo .time-hour-2,
.person-time .time-logo .time-min-1,
.person-time .time-logo .time-min-2,
.person-time .time-logo .time-sec-1,
.person-time .time-logo .time-sec-2 {
    font-size: 2.447665056rem;
    color: #a9a9a9;
    position: absolute;
    top: 4.251207729rem;
}
.person-time .time-logo .time-hour-1 {
    left: 2.190016103rem;
}
.person-time .time-logo .time-hour-2 {
    left: 4.830917874rem;
}
.person-time .time-logo .time-min-1 {
    left: 8.244766506rem;
}
.person-time .time-logo .time-min-2 {
    left: 10.885668277rem;
}
.person-time .time-logo .time-sec-1 {
    left: 14.363929147rem;
}
.person-time .time-logo .time-sec-2 {
    left: 17.004830918rem;
}
.person-time .time-rule {
    width: 21.062801932rem;
    margin: 1.030595813rem auto 0;
}
.person-time .time-rule .rule-title {
    font-size: 1.288244767rem;
    text-align: center;
    margin: 0 0 0.515297907rem 0;
}
.person-time .time-rule .rule-title,
.person-time .time-rule .rule-con {
    color: #fff;
}
.person-time .time-rule .rule-con .rule-text {
    line-height: 1.288244767rem;
}
.person-time .time-rule .rule-con .rule-text.offset {
    margin: 1.739130435rem 0 0 0;
}
.person-time .time-rule .invite {
    width: 12.753623188rem;
    height: 3.499731594rem;
    line-height: 3.478260870rem;
    background: url('../images/submit-button.png') no-repeat;
    background-size: 12.753623188rem 3.499731594rem;
    margin: 1.739130435rem auto 0;
    text-align: center;
    font-size: 1.545893720rem;
    color: #fff;
}

.school-rank {
    width: 100%;
    background-color: #a6add4;
    padding: 0 0 1.867954911rem 0;
    overflow: hidden;
}
.school-rank .rank-header {
    width: 100%;
    height: 7.922705314rem;
    line-height: 7.922705314rem;
    background: url('../images/second-header.png') no-repeat;
    background-size: 100% 7.922705314rem;
    text-align: center;
}
.school-rank .rank-header .rank-header-text {
    width: 17.112184651rem;
    height: 4.594739646rem;
    display: inline-block;
    background: url('../images/rank.png') no-repeat;
    background-size: 17.112184651rem 4.594739646rem;
    vertical-align: middle;
}
.school-rank .rank-report {
    width: 100%;
    margin: 1.223832528rem 0 0 0;
}
.school-rank .rank-report .report-title,
.school-rank .rank-report .report-rank {
    color: #004e66;
    font-size: 1.288244767rem;
    text-align: center;
}
.school-rank .rank-report .report-title {
}
.school-rank .rank-report .report-rank {
    margin: 0.966183575rem 0 0 0;
}
.school-rank .rank-graph {
    margin: 0.901771337rem 0 0 0;
    padding: 0 0 0 0.837359098rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.school-rank .rank-graph .rank-school-names {
    width: 5.797101449rem;
    display: inline-block;
}
.school-rank .rank-graph .rank-school-names .rank-school-name {
    margin: 1.202361784rem 0 0 0;
}
.school-rank .rank-graph .rank-school-names .rank-school-name .ranks {
    width: 1.030595813rem;
    height: 0.944712850rem;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 0.901771337rem;
}
.school-rank .rank-graph .rank-school-names .rank-school-name .rank-fir {
    background: url('../images/first.png') no-repeat;
    background-size: 1.030595813rem 0.944712831rem;
}
.school-rank .rank-graph .rank-school-names .rank-school-name .rank-sec {
    background: url('../images/second.png') no-repeat;
    background-size: 1.030595813rem 0.944712831rem;
}
.school-rank .rank-graph .rank-school-names .rank-school-name .rank-thr {
    background: url('../images/third.png') no-repeat;
    background-size: 1.030595813rem 0.944712831rem;
}
.school-rank .rank-graph .rank-school-names .rank-school-name .rank-school {
    color: #fff;
    font-size: 0.901771337rem;
    margin: 0 0 0 0.257648953rem;
    vertical-align: middle;
}
.school-rank .rank-graph .rank-school-mins {
    height: 100%;
    display: inline-block;
    border-left: 0.128824477rem solid #fff;
    vertical-align: top;
}
.school-rank .rank-graph .rank-school-mins .rank-school-min {
    margin: 0.579710145rem 0 0 0;
}
.school-rank .rank-graph .rank-school-mins .rank-school-min:nth-child(1) {
    margin: 0.837359098rem 0 0 0;
}
.school-rank .rank-graph .rank-school-mins .rank-school-min:nth-child(10) {
    margin: 0.579710145rem 0 0.772946860rem 0;
}
.school-rank .rank-graph .rank-school-mins .rank-school-min .rank-school-progress {
    height: 1.223832528rem;
    border: 0.128824477rem solid #fff;
    border-width: 0.128824477rem 0.128824477rem 0.128824477rem 0;
    display: inline-block;
}
.school-rank .rank-graph .rank-school-mins .rank-school-min .rank-school-progress-1 {
    width: 12.882447665rem;
    background-color: #d7151a;
}
.school-rank .rank-graph .rank-school-mins .rank-school-min .rank-school-minutes {
    color: #fff;
    display: inline-block;
    vertical-align: 0.515297907rem;
}

.school-travel {
    width: 100%;
    background-color: #3777af;
    overflow: hidden;
}
.school-travel .travel-header {
    width: 100%;
    height: 7.922705314rem;
    line-height: 7.922705314rem;
    background: url('../images/third-header.png') no-repeat;
    background-size: 100% 7.922705314rem;
    text-align: center;
}
.school-travel .travel-header .travel-header-text {
    width: 17.112184651rem;
    height: 4.594739646rem;
    display: inline-block;
    background: url('../images/school.png') no-repeat;
    background-size: 17.112184651rem 4.594739646rem;
    vertical-align: middle;
}
.school-travel .high-up {
    width: 100%;
    padding: 1.352657005rem 0.837359098rem 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.school-travel .high-up .high-up-title {
    color: #fff;
    font-size: 1.288244767rem;
    text-align: center;
}
.school-travel .high-up .high-up-context {
    margin: 1.352657005rem 0 0 0;
}
.school-travel .high-up .high-up-context .high-up-img {
    display: inline-block;
}
.school-travel .high-up .high-up-context .high-up-img .high-up-pic {
    width: 9.275362319rem;
    height: 11.207729469rem;
}
.school-travel .high-up .high-up-context .high-up-ind {
    width: 14.170692432rem;
    float: right;
    display: inline-block;
    /*margin: 0 0 0 1.095008052rem;*/
    vertical-align: top;
    /*padding-left: 9.983896940rem;
    margin-left: -9.468599034rem;*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.school-travel .high-up .high-up-context .high-up-ind .high-up-p {
    color: #fff;
    font-size: 0.772946860rem;
}
.school-travel .high-up .high-up-context .high-up-ind .high-up-host {
    margin: 0.450885668rem 0 0 0;
}
.school-travel .high-up .high-up-context .high-up-ind .high-up-place {
    margin: 1.739130435rem 0 0 0;
}
.school-travel .high-up .high-up-context .high-up-ind .high-up-topic {
    margin: 1.739130435rem 0 0 0;
    line-height: 1.159420290rem;
}
.school-travel .high-up .high-up-context .high-up-ind .high-up-time {
    margin: 1.739130435rem 0 0 0;
}
.school-travel .high-up .high-up-join {
    width: 18.035426731rem;
    margin: 1.417069243rem auto 0;
    color: #fff;
    line-height: 1.159420290rem;
}
.school-travel .high-up .high-up-join .join-way {
    line-height: 1.159420290rem;
}
.school-travel .book-recommand {
    width: 100%;
    padding: 2.769726248rem 1.223832528rem 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.school-travel .book-recommand .book-recommand-header {
    width: 13.848631240rem;
    height: 4.487385939rem;
    background: url('../images/recommand.png') no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}
.school-travel .book-recommand .book-recommand-books {
    display: inline-block;
    margin: 2.061191626rem 0 0 0;
}
.school-travel .book-recommand-books .books-pic {
    display: inline-block;
}
.school-travel .book-recommand-books .books-pic .books-images {
    width: 5.024154589rem;
    height: 8.330649469rem;
}
.school-travel .book-recommand-books .books-text {
    width: 15.458937198rem;
    margin: 0.772946860rem 0 0 2.061191626rem;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.school-travel .book-recommand-books .books-text .books-title {
    font-size: 1.288244767rem;
}
.school-travel .book-recommand-books .books-text .books-title .title-name {
    margin: 0 0.644122383rem 0 0;
}
.school-travel .book-recommand-books .books-text .books-title .author {
    display: inline-block;
}
.school-travel .book-recommand-books .books-text .books-tip {
    margin: 0.193236715rem 0 0 0;
    font-size: 0.772946860rem;
}
.school-travel .book-recommand-books .books-text .books-rank {
    margin: 1.159420290rem 0 0 0;
    font-size: 0.772946860rem;
    line-height: 1.030595813rem;
}
.school-travel .book-recommand-books .books-text .books-rank-exc {
    font-size: 0.772946860rem;
    line-height: 1.030595813rem;
}

.school-travel .foot {
    width: 100%;
    margin: 4.186795491rem 0 0 0;
}
.school-travel .foot .foot-copyright {
    font-size: 0.772946860rem;
    color: #fff;
    text-align: center;
}
.school-travel .foot .foot-back {
    width: 100%;
    height: 9.704777243rem;
    margin: 0.901771337rem 0 0 0;
    background: url('../images/footer.png') no-repeat;
    background-size: 100% 100%;
}
